body {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    background-color: #24282C;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

#container {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    padding: 50px 80px;
}

.project__article {
    margin: 0 auto;
    background-color: #5651a4;
    width: fit-content;
    padding: 15px 21px;
    border: 2px solid white;
    border-radius: 5px;

}

.project__link {
    font-size: 18px;
}

article {
    margin-top: 80px;
    text-align: center;
}

.special__message {
    text-decoration: underline;
}