:root {
    --main-color: #ffffff;
    --secondary-color: whitesmoke;
    --alt-color: #C21757;
    --theme-first-color: #3062a8;
    --theme-second-color: #f0c306;

}

body, header, div, nav, a, p, main , ul, ol, li, main, section, article, h1, h2, h3, h4, span, button {
    margin: 0;
}

@font-face {
    font-family: "Pokémon solid";
    src: url("../fonts/Pokemon\ Solid.ttf ") format('truetype');
}

@font-face {
    font-family: "Pokémon hollow";
    src: url("../fonts/Pokemon\ Hollow.ttf ") format('truetype');
}

body {
    max-width: 1440px;
    padding: 0px 4%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--secondary-color);
    font-size: 16px;
}

#container {
    width: 100%;
    background-color: white;
    border: 4px solid darkgray;
    border-top: 0px;
}

#navbar {
    width: 100%;
}

header {
    max-width: 1440px;
    height: 600px;
}

nav {
    max-width: 1440px;
    height: 75px;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--theme-second-color);
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid var(--theme-first-color);
    color: black;
}

#subtitle {
    font-family: "Pokémon solid";
    height: fit-content;
    font-size: 32px;
    margin: auto;
    margin-top: -16px;  
}

li {
    list-style: none;
}

ul {
    width: 35%;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 75px;
    background-color: var(--main-color);
    border-left: 4px solid var(--theme-first-color);
}

nav li {
    height: 100%;
}

nav img {
    max-height: 60px;
    padding-top: 6px;
    aspect-ratio: 1 / 1;
    border-radius: 40px 0 0 40px;
}

nav a {
    text-decoration: none;
    height: 75px;
}

nav a:hover {
    opacity: 0.65;
}

#title, h1 {
    font-size: 48px;
    font-family: "Pokémon solid";
    color: var(--alt-color);
    width: auto;
}

#header {
    width: auto;
    padding-top: 50px;
    max-height: 400px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
}

#logo, #title {
    margin: auto;
}

#pokedex {
    display: grid;
    padding: 60px 60px 100px 60px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto, 200px);
    gap: 45px;
    margin: auto;
}

.pokemon-card {
    width: 100%;
    border-radius: 15px;
    background-color: var(--main-color);
    border: 2px solid lightgrey;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px 0px;
}

.pokemon-name {
    text-align: center;
}

.pokemon-img {
    width: 100%;
}

.pokemon-types {
    text-align: center;
    font-weight: 500;
    padding-bottom: 8px;
}

.pokemon-types-img {
    max-width: 25px;
}

.pokemo-duo-types:first-of-type {
    padding-right: 12px;
}

.pokemon-stat-li {
    font-size: 14px;
}

.pokemon-types-div {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 8px 0px 5px 0px;
}

#btn-stats-displayed {
    display: none;
}

#filters {
    max-width: 100%;
    padding: 30px 10px;
    min-height: 75px;
    background-color: var(--main-color);
    border-top: 4px solid var(--alt-color);
    border-bottom: 4px solid var(--alt-color);
}

button, select, input {
    border: 2px solid black;
    background-color: var(--secondary-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 12px 8px;
    width: auto;
    border-radius: 15px;
}

button:hover, select:hover, input:hover {
    background-color: var(--theme-second-color);
}

.hidden {
    display: none;
}

button[type="submit"] {
    padding: 12px 15px;
    border-color: var(--alt-color);
}

#submit:hover {
    color: rgb(52, 52, 52);
    background-color: var(--alt-color);
}

#search:hover {
    background-color: white;
}

#glass {
    color: var(--alt-color);
    font-size: 22px;
}

input::placeholder {
    font-size: 16px;
}

#search {
    padding-left: 16px;
    margin-bottom: 15px;
    border-color: var(--alt-color);
}

#search:focus {
    outline: none;
}

/*

.fa-xmark {
    font-size: 18px;
    color: var(--alt-color);
    position: relative;
    right: 15px;
}

*/

.pokemon-card:hover {
    -webkit-box-shadow: 5px 5px 15px 5px #FF8080, 
    -9px 5px 15px 5px #FFE488, 
    -7px -5px 15px 5px #8CFF85, 
    12px -5px 15px 5px #80C7FF, 
    12px 10px 15px 7px #E488FF, 
    -10px 10px 15px 7px #FF616B, 
    -10px -7px 27px 1px #8E5CFF, 
    7px 7px 27px 5px rgba(133,133,133,0); 
    box-shadow: 5px 5px 15px 5px #FF8080, 
    -9px 5px 15px 5px #FFE488, 
    -7px -5px 15px 5px #8CFF85, 
    12px -5px 15px 5px #80C7FF, 
    12px 10px 15px 7px #E488FF, 
    -10px 10px 15px 7px #FF616B, 
    -10px -7px 27px 1px #8E5CFF, 
    7px 7px 27px 5px rgba(133,133,133,0);
}
